body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  padding: 48px 32px;
  background-color: #303036;
  max-width: 400px;
  margin: 60px auto;
  box-sizing: border-box;
  box-shadow: 3px 10px 16px 0px rgba(48, 48, 54, 0.34);
  border-radius: 35px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: #f1f2f7;
  color: #303036;
  border-radius: 50px;
}

.btn-menu {
  padding: 8px;
  border-radius: 50%;
}

.btn-subscribe {
  padding: 8px 16px;
}

.avatar {
  color: #f1f2f7;
  text-align: center;
  margin-bottom: 40px;
}

.image-container {
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  background-color: #f1f2f7;
}

.btn-link {
  padding: 24px;
  margin: auto;
  margin-bottom: 24px;
  width: 90%;
  border-radius: 15px;
}

.link {
  padding-bottom: 40px;
}

footer {
  text-align: center;
  font-size: small;
  color: #f1f2f7;
}
